<br />
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="state edit">
  <h2><br />Edit State Detail<br /></h2>
  <%= form_for(:state, :url => {:action => 'update', :id => @state.id}) do |f| %>
  
  <table summary="State form field">
    <tr> <th>&nbsp;&nbsp;State:</th><td><%= f.text_field(:name) %></td> </tr>
    <tr> <th>Capital:</th><td><%=  f.text_field(:capital) %></td> </tr>
    <tr> <th>&nbsp;&nbsp;Abbrv:</th><td><%=  f.text_field(:abbreviation) %></td> </tr>
    <tr> <th>&nbsp;&nbsp;&nbsp;&nbsp;Year:</th><td><%=  f.text_field(:year) %></td> </tr>
  </table>  
  <div>
    <%= submit_tag("Update State") %>
  </div>
  
  <% end %>  
</div>  
